<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.koreait.mapper.ProductMapper">

    <!--  sql  -->
    <insert id="insertProduct">
        insert into
            product (product_name, price, create_at)
        values
            (#{productName}, #{price}, now())
    </insert>

    <delete id="deleteProductById">
        delete from
            product
        where
            productId = #{id}

    </delete>

    <!--  sql 내장함수도 사용 가능  -->
    <select id="searchProductByName" resultType="Product">
        select
            *
        from
            product
        where
            product_name like concat('%', #{productName},'%')

    </select>

    <select
            id="findProductById"
            resultType="Product"
            parameterType="int"
    >
        select
            *
        from
            product
        where
            product_id = #{id}

    </select>

    <select id="findAllProducts" resultType="Product">
        select
            *
        from
            product
    </select>

    <!--  name필터, 최소가격, 최대가격 필터가 각각 존재할수도있고 없을수도있음  -->
    <!--  <if>: 독립 조건부 조립시에 사용  -->
    <select id="detailSearchProduct" resultType="Product">
        select
            *
        from
            product
        where
            1=1
        <if test="nameKeyword != null and nameKeyword != ''">
            and product_name like concat('%', #{nameKeyword}, '%')
        </if>
        <!--    xml에서 대소비교시, > or < 사용시 주의    -->
        <!--    >는 &gt;로, < &lt;로 치환해서 사용    -->
        <if test="minPrice != null">
            and price &gt;= #{minPrice}
        </if>
        <if test="maxPrice != null">
            and price &lt;= #{maxPrice}
        </if>
        order by
            product_id desc


    </select>

    <!--  선택검색: 조건 중 하나만(if-elif-else) 쿼리를 조립할 수 있음  -->
    <!--  우선조건검색  -->
    <select id="chooseSearchProduct" resultType="Product">
        select
            *
        from
            product
        where
            1=1
            <!--    <if>와 다르게 위에서 아래로 순차적으로 test 검사    -->
            <!--    true가 나오면 해당 태그의 쿼리 조립 후 탈출    -->
            <choose>
                <when test="minPrice != null">
                    and price &gt;= ${minPrice}
                </when>
                <when test="maxPrice != null">
                    and price &lt;= ${maxPrice}
                </when>
                <otherwise>
                <!--    else 자리. 모두 false일때 실행      -->
                </otherwise>
            </choose>
        order by
            product_id desc
    </select>

    <!-- 다중 insert : 쿼리가 반복적으로 들어가야 할 경우   -->
    <!-- 매개변수로 List들이 들어올경우 주로 사용   -->
    <!--
    collection은 매개변수로 들어온 list변수명, @Param("변수명")
    item은 collection에서 하니씩 꺼냈을때 담을 변수면
    separator는 item들 사이에 구분자
    -->
    <insert id="insertProducts">
        insert into
            product (product_name, price)
        values
            <foreach
                    collection="products"
                    item="product"
                    separator=","
            >
                (#{product.productName}, (#{product.price}))
            </foreach>
    </insert>


</mapper>